.inner-loading-spinner-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  padding: 20px;
  height: 100%;
  width: 100%;
  gap: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.inner-loading-spinner-container p {
  text-align: center;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  color: white;
}

.inner-loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}